/*------------------------------------------------------------------------------------------------------/
/---------------------------------------Clases Generales-----------------------------------------------/
/------------------------------------------------------------------------------------------------------/ */

body {
    margin: 0;
}

.slider-container {
    display: none;
}

/*cards*/

.slider-container {
    width: 80%;
    margin: 0 auto;
}

.card2 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.slick-slide {
    perspective: 1000px;
}

.slick-slide>div {
    display: block;
    height: auto;
}

.slick-slide.slick-current {
    z-index: 1;
}

.slick-prev,
.slick-next {
    font-size: 24px;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

}

.slick-prev {
    left: -40px;
}

.slick-next {
    right: -40px;
}

.slick-slide:not(.slick-current) .card2 {
    transform: scale(0.8) translateZ(-100px);
    opacity: 0.6;
}


/*loader*/
/* styles.css */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #7986cb;
    /* Cambia este color según tus preferencias */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/*Tipografias*/
.font-family-Robot {
    font-family: 'Roboto', sans-serif;
}

.font-family-kanit {
    font-family: "Kanit";
}

.font-weight-100 {
    font-weight: 100;
}

.font-weight-200 {
    font-weight: 200;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}

/*color*/
.background-principal {

    color: rgb(16, 15, 15);
    /* background: rgb(177, 219, 255);
    background: radial-gradient(circle, rgba(177, 219, 255, 0.7413559173669468) 14%, rgba(205, 204, 205, 0.65172006302521) 41%, rgba(255, 255, 255, 1) 75%, rgba(249, 249, 249, 1) 100%);
} */
    background: rgb(187, 177, 255);
    background: radial-gradient(circle, rgba(187, 177, 255, 0.7413559173669468) 0%, rgba(177, 219, 255, 0.7413559173669468) 18%, rgba(204, 204, 205, 0.65172006302521) 45%, rgba(255, 255, 255, 1) 75%, rgba(249, 249, 249, 1) 100%);
}

.text-navb {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.background-principalNavbar {
    background: rgba(255, 255, 255, 0.9)
}

.navbarContainerText {
    font-family: 'Roboto', sans-serif;
}

.background-secundario {
    background-color: #119881;
}

.blanco-banndo {
    color: #F5F7FD;
}

.bg-blanco-banndo {
    background: #F5F7FD;
}

.negro-banndo {
    color: #1B1B1B
}

.bg-negro-banndo {
    background: #1B1B1B;
}

.naranja-banndo {
    color: #F28902;
}

/*Width*/
.wd-100 {
    width: 100%
}

.wd-95 {
    width: 95%;
}

.wd-90 {
    width: 90%
}

.wd-80 {
    width: 80%
}

.wd-70 {
    width: 70%
}

.wd-65 {
    width: 65%
}

.wd-60 {
    width: 60%
}

.wd-55 {
    width: 55%
}

.wd-50 {
    width: 50%
}

.wd-40 {
    width: 40%
}

.wd-35 {
    width: 35%
}

.wd-30 {
    width: 30%
}

.wd-20 {
    width: 20%
}

.wd-10 {
    width: 10%
}

/*Height*/
.vh-100 {
    height: 100vh;
}

.h-100 {
    height: 100%
}

.h-90 {
    height: 90%
}

.h-85 {
    height: 85%;
}

.h-80 {
    height: 80%
}

.h-70 {
    height: 70%
}

.h-60 {
    height: 60%
}

.h-50 {
    height: 50%
}

.h-40 {
    height: 40%
}

.h-30 {
    height: 30%
}

.h-20 {
    height: 20%
}

.h-15 {
    height: 15%;
}

.h-10 {
    height: 10%
}

/*Flex*/
.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.mantenimientoContainerRow {
    flex-direction: row;
}

.mantenimientoContainerInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mantenimientoContainerInfoTexto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.contentFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    justify-content: space-around;

    position: relative;


    border-radius: 15px;
    background: #fff;
    overflow: hidden;
    display: flex;

    align-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.mantenimientoContainerInfoImg {
    width: 400px;
}

.flex-wrap {
    flex-wrap: wrap;
}

/*--justify content--*/
.flex-justify-center {
    display: flex;
    justify-content: center;
}

.flex-justify-end {
    display: flex;
    justify-content: flex-end;
}

.flex-justify-start {
    display: flex;
    justify-content: flex-start;
}

.flex-justify-space-around {
    display: flex;
    justify-content: space-around;
}

.flex-justify-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-justify-space-evenly {
    display: flex;
    justify-content: space-evenly;
}

/*--align content--*/
.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-align-end {
    display: flex;
    align-items: flex-end;
}

.flex-align-start {
    display: flex;
    align-items: flex-start;
}

/*links*/
.text-decoration-none {
    text-decoration: none;
}

.list-style-type-none {
    list-style-type: none;
}

/*Text align*/
.text-align-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

/*Margins*/
.margin-0 {
    margin: 0;
}

/*--Margin Top--*/
.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

/*--Margin right--*/
.margin-right-10 {
    margin-right: 10px;
}

/*--Margin Bottom--*/
.margin-bottom-0 {
    margin-bottom: 0px;
}

/*--Margin Left--*/
.margin-left-10 {
    margin-left: 10px;
}

.margin-left-20 {
    margin-left: 20px;
}

/*Paddings*/
.padding-0 {
    padding: 0;
}

/*Postion z*/
.z-index-100 {
    z-index: 100;
}

.z-index-1000 {
    z-index: 1000;
}

.z-index-1 {
    z-index: 1;
}

.z-index-0 {
    z-index: 0;
}

.z-index-back {
    z-index: -1;
}

/*Border Radius*/
.border-radius-20 {
    border-radius: 20px;
}


/*navbar*/
.containerLogo {
    font-weight: 700;
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.tituloFont {
    font-size: 20px;
}

.navbarService {
    color: white;
}

.navbarContainer {
    position: fixed;
    width: 100%;
    z-index: 500;
}

.navabarContainerMenu {
    min-width: 80%;
    justify-content: flex-end
}

.navbarHeight {
    height: 90px;
}

.navbarBackgroundDrop {
    /* background-color: #eae5df; */
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.navbarDesktopContainerSubmenu {
    right: -0px;
    color: black;
    margin-right: 30px;
}

/* home container*/



.HomePrimerComp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* Agregar flex-wrap para permitir que los elementos se envuelvan */
    height: auto;
    /* Cambiar la altura a auto para que se ajuste según el contenido */
    padding-top: 100px;

}

.homePrimerCompContainer {
    max-width: 450px;
}

.homePrimerCompContainerImg {
    max-width: 450px;
}

.impulsaTuMarcaContainerImg {
    max-width: 400px;
    margin: 20px;
}

.impulsaTuMarcaContainer {
    max-width: 750px;
    padding: 30px;
}

.homePrimerCompImg {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.homePrimerCompButtons {
    display: flex;
    justify-content: flex-start;
}

.homePrimerCompTitulo {
    font-size: clamp(3.5rem, 8vw, 6rem);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -.03rem;
    font-family: 'Roboto', sans-serif;
    color: #5a5a5a;
}

.homePrimerCompTexto {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.3rem;
}

.HomePageBody {
    height: 450px;
}





.HomePageBodyWave {
    background-color: black;
}

.wave-header {
    min-height: 100%;
    width: 100%;
    position: relative;

}

.svg {
    position: absolute;
    bottom: 0;
    left: 0;
}



.HomeTerComp {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}



.HomeTerCompContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.cardContentContainer {
    text-align: center;
    padding: 10px 0px 10px;
}

.HomeTerCompContainer .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px 30px 30px 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5); */
    backdrop-filter: blur(5px);
}

.HomeTerCompContainer .card .content {
    padding: 20px;
    text-align: center;
    transition: .5s;
}

.HomeTerCompContainerh2 {


    font-size: 45px;
    color: black;

}

.HomeTerCompContainer .card .content h3 {

    top: -30px;
    right: 30px;
    font-size: 2em;
    /* color: rgba(34, 13, 98, 0.5); */
    pointer-events: none;
}

.HomeTerCompContainer .card .content .price {
    font-size: 40px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;

}

.HomeTerCompContainer .card .content ul {
    margin: 0;
    padding: 0;
}

.HomeTerCompContainer .card .content ul li {
    padding: 10px 0;
    list-style: none;
    font-size: 1em;
    color: black;
    font-weight: 300;
}

/*button*/
.buttonVermas {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #9479ec;
    background-size: 300%;
    color: white;


}

.buttonVermas:hover::before {
    transform: scaleX(1);

}

.buttonVermasContent {
    position: relative;
    z-index: 1;
}

.buttonVermas::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(80.2deg, rgba(150, 93, 233, 1)10.8%, rgb(131, 195, 249)94.3%);
    transition: all 0.475s;


}

.whatsapp {
    position: fixed;
    color: black;
    padding: 0.5rem 1rem;
    display: inline-block;
    bottom: 1rem;
    right: 0.1rem;
    text-decoration: none;
    z-index: 1;
    margin-bottom: 20px;
    width: 90px;
}

.whatsapp img {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.5em 1.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 90px;
}

.buttonVermas2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 1.5rem;
    color: #5a5a5a;
    font-weight: normal;
    line-height: 1rem;
    /* Alinear verticalmente el texto */
    font-size: 0.95rem;
    width: 190px;
    border: 1px solid #5a5a5a;
    transition: color 0.3s ease;
    margin-left: 10px;
    text-align: center;
    padding: 0px 5px;
    /* Transición para el color del texto */
}

.buttonVermas2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5a5a5a;
    ;
    /* Color de fondo con opacidad */
    transition: transform 0.3s ease;
    /* Transición para el efecto de relleno */
    z-index: -1;
    /* Moverlo detrás del texto */
    transform: translateX(-100%);
    /* Iniciar fuera del botón */
}

.buttonVermas2:hover::before {
    transform: translateX(0);
    /* Moverlo dentro del botón */
}

.buttonVermas2:hover {
    color: #5a5a5a;
    ;
    /* Cambiar el color del texto a blanco */
}





/*homecuartquint comp*/



.HomeTerComp {

    flex-direction: column;
}

.HomeTerComp svg {
    background-color: #EAE5DF;
}

.HomeTercerCompSvg {
    background-color: #EAE5DF;
}

.HomeCuartQuintCompBuscandoTitulo {
    width: 75%;
    padding: 20px
}

.HomeCuartQuintCompBuscando {

    border: 2px solid white;
    border-radius: 20px;
    min-height: 300px;
    background: white;
    display: flex;
    align-items: center;
    width: 70%;

}

/*sexto*/

.BlogContainer {
    /* background-color: black; */
    color: white;
}

/*button*/
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /*   padding: 2em 0em; */
}

.container {
    align-items: center;
    display: flex;
    flex-direction: row;

    text-align: center;
    justify-content: space-between;
    padding: 40px 0px;
    width: 100%;
}

h1 {
    text-align: left;
    color: #444;
    letter-spacing: 0.05em;
    margin: 0 0 0.4em;
    font-size: 1em;
}

/* p {
    text-align: left;
    color: #444;
    letter-spacing: 0.05em;
    font-size: 0.8em;
    margin: 0 0 2em;
} */


.btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.btn:hover {
    text-decoration: none;
}

/*btn_background*/
.effect01 {
    color: #FFF;

    box-shadow: 0px 0px 0px 1px #000 inset;
    background-color: #ff6a00;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.effect01:hover {
    border: 4px solid #666;
    background-color: #FFF;
    box-shadow: 0px 0px 0px 4px #EEE inset;
}

/*btn_text*/
.effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
}

.effect01:hover span {
    letter-spacing: 0.13em;
    color: #333;
}

/*highlight*/
.effect01:after {
    background: #FFF;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    /*easeOutCirc*/
    z-index: 1;
}

.effect01:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

/* impulsa tu marca*/
.containerTextoImg {
    min-height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/**/
.effect02 {
    color: #FFF;
    border: 1px solid #dfdfdf;
    box-shadow: 0px 0px 0px 1px #000 inset;
    background-color: #000;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.effect02:hover {
    border: 4px solid #666;
    background-color: #FFF;
    box-shadow: 0px 0px 0px 4px #EEE inset;
}

/*btn_text*/
.effect02 span {
    transition: all 0.2s ease-out;
    z-index: 2;
}

.effect02:hover span {
    letter-spacing: 0.13em;
    color: #333;
}

/*highlight*/
.effect02:after {
    background: #ffa915;
    border: 0px solid #000000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    /*easeOutCirc*/
    z-index: 1;
}

.effect02:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

/* img latido */




.imagen-latido {
    animation: latido 8s infinite;
    /* 1s es la duración de la animación, "infinite" para que sea continua */
}

@keyframes latido {
    0% {
        transform: scale(1);
        /* Tamaño normal al inicio */
    }

    50% {
        transform: scale(1.1);
        /* Aumenta el tamaño a la mitad de la animación */
    }

    100% {
        transform: scale(1);
        /* Vuelve al tamaño normal al final */
    }
}

/*font componentes informativos*/
.fontSizeComponentes {
    font-size: 2.5rem;
}

.buttonStyles {
    font-family: DSemi, monospace;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.25rem;
    font-size: 0.95rem;
    width: fit-content;
    background-color: black;
    border-radius: 1.5rem;
    padding: 0.625rem 1.3125rem;
    color: white;
    border: 1px solid white;
}

/*Generales*/

/* .titulosComponentes {
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -.03rem;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    color: #5a5a5a;
    ;
} */
.imagen-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    align-items: center;
    padding: 10px
}

.titulosComponentesTexto {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.0rem;
}



.cardsComponentesTitulos {
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -.03rem;
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    color: #5a5a5a;
    text-align: center;
}

.buttonContainers {
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.25rem;
    font-size: 0.95rem;
    width: fit-content;
    border-radius: 1.5rem;
    padding: 0.625rem 1.3125rem;
    background: #9479ec;
    background-size: 300%;
    color: white;

}

.containerHeight {
    min-height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

/*footer*/
.footerContainer {
    background-image: radial-gradient(farthest-side at bottom left, rgb(177, 219, 255), transparent 900px), radial-gradient(farthest-corner at bottom right, rgb(177, 219, 255), transparent 1000px);
    font-size: 1rem;
    margin-top: 5rem;
    padding: 5rem 0;


}

.footerContainerLogo {
    font-weight: 700;
    display: flex;
    max-width: 400px;
    justify-content: flex-start;
}

/*servicios*/

.serviciosContainer {
    padding-top: 150px
}

.seviciosContainerButtonsNavbar {
    display: flex;
    justify-content: space-evenly;
}

.ServiciosContainerPrimerComponente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 650px;
    margin-top: 70px;
}

/* .serviciosContainerNavlinks {
    padding-top: 20px;
    padding-left: 20px;
} */

.serviciosNavlinks {
    font-size: 1.0rem;
    /* color: rgba(34, 13, 98, 0.5); */
    pointer-events: none;


}

/* 
.luz{    position: absolute;
    top: -40%;
    left: 12.5%;
    z-index: 5;
    width: 75%;
    padding-bottom: 75%;
    border-radius: 50%;
    background: #1c4b52;;
    mix-blend-mode: normal;
    opacity: .4;
    filter: blur(35px);
    top: -200px;
    right: -300px;
    left: auto;
    width: 600px;
    height: 600px;
    padding-bottom: 0;
    filter: blur(110px);
    transform: rotate(35.57deg);
} */

/*soluciones digitales*/
.solucionesDigitalesPrimerComponenteContainer {
    max-height: 700px;
    padding-top: 90px;
}


/* soluciones digitales body*/
.solucionesDigitalesBodyServiciosContainer {
    background: rgba(255, 255, 255, 0.3);
    /* color de fondo semi-transparente */
    backdrop-filter: blur(10px);
    /* aplicar filtro de desenfoque */
    border-radius: 20px;
    /* redondea las esquinas de la card */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    /* sombra suave */
    overflow: hidden;
    /* oculta cualquier contenido que se desborde */
}

/*contacto*/
.selected {
    background-color: rgb(186, 186, 186);
    border-radius: 0.5rem;

    width: 60%;
}

.HomePrimerCompForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 90px;
}

.homePrimerCompFormHeight {
    height: 600px;
}

.contactoContainer {
    max-width: 100%;
}

.titulosComponentes {
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -.03rem;
    font-size: 4vw;
    /* Tamaño de letra relativo al ancho de la ventana gráfica */
    font-family: 'Roboto', sans-serif;
    color: #5a5a5a;
}


.contenedor-auto {
    width: 90%;
    /* El ancho del contenedor será el 90% del ancho del viewport */
    max-width: 1200px;
    /* Máximo ancho del contenedor para evitar que se haga demasiado grande en pantallas anchas */
    margin: 0 auto;
    /* Centrar el contenedor horizontalmente */
}

.contenedor {
    max-width: 650px;
}


/*card responsive*/
.homeSoporteCointainer .homeSoporteCointainerText {
    position: relative;
    max-width: 1000px;
    min-height: 300px;
    margin: 30px;

    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.homeSoporteCointainer .homeSoporteCointainerText .content {
    padding: 20px;
    text-align: center;
    transition: .5s;
}

.homeSoporteContainerTitulo {
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -.03rem;
    font-size: 4vw;
    /* Tamaño de letra relativo al ancho de la ventana gráfica */
    font-family: 'Roboto', sans-serif;
    color: #5a5a5a;
}

.homeSoporteContainerTexto {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.0rem;
    text-align: center;
}

/*servicio mantenimineto*/
.mantenimientoContainerHeight {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

/*FORMULARIO*/
.formContainerFlex {
    display: flex;
    min-height: 490px;
    justify-content: space-between;
}

.formContainerFlex {
    display: flex;
    justify-content: space-between;
}

.formPrimerCompTitulo {
    font-size: clamp(3.5rem, 8vw, 6rem);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -.03rem;
    font-family: 'Roboto', sans-serif;
    color: #5a5a5a;

}

.formPrimerCompTexto {

    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.3rem;
}

.formContainerWidth {
    width: 100%;
}

.formInputs {

    background: rgba(255, 255, 255, 0.3);

    box-sizing: border-box;
    border-radius: 15px;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    float: none;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 6px 10px;
    height: 50px;
    width: 100%;
    line-height: 1.3;

}

.formPrimerComp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* Agregar flex-wrap para permitir que los elementos se envuelvan */
    height: auto;
    /* Cambiar la altura a auto para que se ajuste según el contenido */
    padding-top: 120px;
}

/* Estilos para checkbox circulares */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* Esto hace que el checkbox sea circular */
    border: 2px solid #999;
    /* Cambia el color y grosor del borde */
    outline: none;
    cursor: pointer;
}

/* Estilos para cuando el checkbox está marcado */
input[type="checkbox"]:checked {
    background-color: #9479ec;
    ;
    /* Cambia el color de fondo cuando está marcado */
}

/* Estilos para cuando el checkbox está marcado y se le pasa el mouse por encima */
input[type="checkbox"]:checked:hover {
    background-color: #9479ec;
    ;
    /* Cambia el color de fondo cuando está marcado y se le pasa el mouse por encima */
}

/* Estilos para ocultar el checkbox original */
input[type="checkbox"]::-ms-check {
    display: none;
}

/* Estilos para el contenedor de los checkbox */
.checkbox-container {
    display: flex;
    flex-wrap: wrap;
}

/* Estilos para los márgenes entre los checkbox */
.checkbox-container>div {
    margin-right: 10px;
    /* Ajusta el margen derecho entre los elementos */
    margin-bottom: 10px;
    /* Ajusta el margen inferior entre los elementos */
}

.inputsFlexCheckBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.formButtons {
    display: flex;
    justify-content: flex-start;
    height: 35px;
}

.formTextArea {
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 15px;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    float: none;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 6px 10px;
    height: 38px;
    height: 100px;
    /* width: 100%; */
    line-height: 1.3;
}

.formButtonsContainer {
    border-radius: 0.5rem;
    color: #5a5a5a;
    width: 25%;
    border: 1px solid #5a5a5a;
    display: flex;
    justify-content: space-between;

}

.formButtonsContainer button {
    width: 150px
}


.formPrimerContainerInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.formSegContainerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
}

.selectedButtonPartners {
    width: 150px;
}

.formServiciosRequeridos {
    display: flex;
    justify-content: flex-start;
    height: 200px;
}

.formLabel {
    padding-left: 20px;
}

.formServRequeridosFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
}

.buttonEnviar {
    display: flex;
    justify-content: flex-end;
}


.formTextoSegundo {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
}






/*responsive */
@media (max-width:900px) {
    .HomePrimerComp {
        /*index*/
        flex-direction: column-reverse;
    }

    ;

    .imagen-latido {
        position: absolute;
        inset: 0px;
    }

    .imagenlatidoContainer {
        /*index*/
        margin-top: -40%;
    }

    .homePrimerCompTitulo {
        /*index*/

        text-align: center;
    }

    .homePrimerCompTexto {
        /*index*/
        padding: 20px;
        text-align: center;
    }

    .imagen-latido {
        animation: none;
    }

    .homePrimerCompButtons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .buttonVermas2 {
        position: relative;
        overflow: hidden;
        height: 3rem;
        padding: 0rem;
        border-radius: 1.5rem;
        color: #5a5a5a;
        font-weight: normal;
        line-height: 1rem;
        font-size: 0.95rem;
        width: 190px;

        border: 1px solid #5a5a5a;
        transition: color 0.3s ease;
        margin-left: 0px;
        margin-top: 20px;
        padding: 20px;
    }

    .containerHeight {
        text-align: center;
        min-height: 750px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .mantenimientoContainerButtons {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
    }

    .titulosComponentesTexto {
        text-align: center;
    }

    .titulosComponentes {
        font-size: 40px;
        text-align: center;
    }

    .containerTextoImg {
        text-align: center;
        min-height: 550px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column-reverse;
    }

    .formButtonsContainer {
        width: 30%;
    }



}

@media (max-width:760px) {
    .slider-container {
        display: inline;
    }

    .HomeTerCompContainer {
        display: none;
    }



    .slick-next {
        right: -24px;
    }

    .slider-container {
        width: 70%;
        margin: 0 auto;
    }

    .cardsMobile {
        display: inline;
    }
}

@media (max-width:680px) {

    .mantenimientoContainerRow {
        flex-direction: column;
    }

    .mantenimientoContainerHeight {
        text-align: center;
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .mantenimientoContainerRow {
        align-items: center;
    }

    .HomeCuartQuintCompBuscando {
        border: 2px solid white;
        border-radius: 20px;
        min-height: 300px;
        background: white;
        display: flex;
        align-items: center;
        max-width: 339px;
        flex-direction: column;
    }

    .formContainerFlex {
        min-height: 490px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px;
    }

    .formPrimerContainerInfo {
        width: 90%;

    }

    .formPrimerContainerInfo {

        height: 300px;
    }

    .formSegContainerInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 90%;
    }

    .buttonEnviar {
        display: flex;
        justify-content: center;
    }

    .formButtonsContainer {
        width: 50%;
    }

    .mantenimientoContainerInfo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .mantenimientoContainerInfoTexto {

        width: 90%;
    }

    .buttonContainers {

        margin-bottom: 20px;
    }

    .containerHeight {

        min-height: 550px;

    }

}


@media (max-width:600px) {
    .imagenlatidoContainer {
        margin-top: -50%;
    }

    .seviciosContainerButtonsNavbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 152px;
    }


    input[type="checkbox"] {

        width: 25px;
        height: 25px;

    }

    .formPrimerCompTexto {

        text-align: center;
    }

    .formPrimerCompTitulo {

        text-align: center;
    }

    .formServiciosRequeridos {
        display: flex;
        justify-content: space-around;
        height: 480px;
        flex-direction: column;
        align-items: center;
    }

    .formButtons {
        display: flex;
        justify-content: center;

    }

    .formServRequeridosFlex {
        justify-content: space-around;
        height: 250px;
    }

    .HomeCuartQuintCompBuscandoTitulo {
        width: 100%;
        padding: 20px;
    }

    .HomeCuartQuintCompBuscando {

        width: 90%;
    }

    .ServiciosContainerPrimerComponente {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        min-height: 750px;
        margin-top: 80px;
    }

    .impulsaTuMarcaContainer {
        max-width: 750px;
        padding: 10px;
    }

    .slick-prev {
        left: 245px;
    }

    .slick-next {
        font-size: 20px;
        line-height: 1;
        position: absolute;
        top: 110%;
        right: 44px
    }

    .slick-prev,
    .slick-next {
        font-size: 24px;
        line-height: 1;
        position: absolute;
        top: 110%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .slick-prev:before,
    .slick-next:before {

        font-size: 50px;

    }

    .HomeTerComp {

        min-height: 450px;
    }
}

@media (max-width: 600px) {
    .slick-prev {
        left: 255px;
    }
}

@media(max-width:540px) {
    .slick-next {

        right: 134px;
    }

    .slick-prev {
        left: 205px;
    }
}

@media(max-width:497) {
    .slick-next {

        right: 54px;
    }

    .slick-prev {
        left: 135px;
    }
}

@media(max-width:481) {
    .slick-next {

        right: 60px;
    }

    .slick-prev {
        left: 105px;
    }
}

@media (max-width:450px) {
    .impulsaTuMarcaContainerImg {
        max-width: 300px;
    }

    .titulosComponentes {
        font-size: 30px;
    }

    .HomeTerCompContainer .card {
        position: relative;
        width: 280px;
        height: 400px;
        margin: 10px 10px 10px 10px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: white;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5); */
        backdrop-filter: blur(5px);
    }

    .cardsComponentesTitulos {

        font-size: 1.9rem;

    }

    .card2 {

        padding: 15px;

    }

    .formButtonsContainer {
        width: 90%;
    }

    .homePrimerCompTitulo {
        font-size: clamp(2.5rem, 8vw, 6rem);
    }

    .slider-container {
        width: 65%;
        margin: 10px;
    }

    .slider-container {
        width: 70%;
    }

    .slick-prev {
        left: 145px;
    }

    .slider-container {
        margin: 10px;
        width: 90%;
    }
}

@media (max-width: 394px) {
    .slick-prev {
        left: 125px;
    }

    .slick-prev {
        left: 45px;
    }

    .HomeTerComp {
        min-height: 530px;
    }
    .slick-next {
        right: 94px;
    }
}



@media (max-width:325px) {
    .formPrimerCompTitulo {
        font-size: clamp(2.5rem, 8vw, 6rem);

    }

    .slick-prev {
        left: 55px;
    }


}